USE [master]
GO
/****** Object:  Database [AulaADO]    Script Date: 02/09/2024 21:31:20 ******/
CREATE DATABASE [AulaADO]
 
GO
USE [AulaADO]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 02/09/2024 21:31:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](50) NOT NULL,
	[DataNascimento] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([ID], [Nome], [DataNascimento]) VALUES (2, N'Gustavo', CAST(N'2005-09-09' AS Date))
INSERT [dbo].[Clientes] ([ID], [Nome], [DataNascimento]) VALUES (3, N'Maria Clara', CAST(N'2004-10-12' AS Date))
INSERT [dbo].[Clientes] ([ID], [Nome], [DataNascimento]) VALUES (4, N'Maria Augusta', CAST(N'1972-12-07' AS Date))
SET IDENTITY_INSERT [dbo].[Clientes] OFF
GO
USE [master]
GO
